<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914910302948-74uenp2fffsde5tbep9j2fo14at1siiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914910302948-74uenp2fffsde5tbep9j2fo14at1siiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDISKG4vW3WLF77iL7nCBpDqrGnXylSssI</string>
	<key>GCM_SENDER_ID</key>
	<string>914910302948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toddheins.Lister</string>
	<key>PROJECT_ID</key>
	<string>lister-35089</string>
	<key>STORAGE_BUCKET</key>
	<string>lister-35089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:914910302948:ios:24f5b7f1138bacf1</string>
	<key>DATABASE_URL</key>
	<string>https://lister-35089.firebaseio.com</string>
</dict>
</plist>